@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Source+Code+Pro&family=Roboto&display=swap");
body {
  font-family: "Comfortaa","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}
