@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Source+Code+Pro&family=Roboto&display=swap");
body {
  margin: 0;
  font-family: "Comfortaa", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Source Code Pro", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
